* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.hide {
  display: none;
}

#body {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  /* border: 1px solid black; */
}

#body > #left {
  height: 120vh;
  width: 22%;
  position: fixed;
  left: 0;
  overflow-y: scroll;
  /* border: 1px solid black; */
}

#body > #left > #left-contents {
  height: 100%;
  width: 78%;
  margin: auto;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > .left-content {
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  /* border: 1px solid red; */
}

#body > #left > #left-contents > .left-content > #logo {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > .left-content > #logo > i {
  color: rgb(29, 155, 240);
}

#body > #left > #left-contents > .left-content > .left-common {
  height: 100%;
  width: 92%;
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 25px;
  padding: 0px 20px;
  cursor: pointer;
  /* justify-content: space-between; */
  /* border: 1px solid blue; */
}

#body > #left > #left-contents > .left-content > .left-common:hover {
  background-color: rgb(233, 233, 233);
}

#body > #left > #left-contents > .left-content > .left-common > a {
  text-decoration: none;
  color: black;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > .left-content > .left-common > a > span {
  margin-left: 20px;
  font-size: 18px;
}

#body > #left > #left-contents > #left-button {
  height: 7%;
  width: 100%;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > #left-button > #button {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > #left-button > #button > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  border-radius: 28px;
  font-size: 17px;
  font-weight: 600;
  background-color: rgb(29, 155, 240);
  color: white;
  /* border: 1px solid grey; */
}

#body > #left > #left-contents > #profile {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

#body > #left > #left-contents > #profile > #profile-img,
#name,
#more {
  height: 100%;
  width: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > #profile > #profile-img {
  height: 70%;
  width: 20%;
  border-radius: 50%;
  color: white;
  background-color: rgb(2, 136, 209);
}

#body > #left > #left-contents > #profile > #profile-img > span {
  font-size: 22px;
  font-weight: 400;
}

#body > #left > #left-contents > #profile > #name {
  font-size: 13px;
  width: 65%;
  /* border: 1px solid black; */
}

/* ----------------------middle------------------------------------ */

#body > #middle {
  height: auto;
  width: 45%;
  position: relative;
  left: 22%;
  border-top: none;
  border-bottom: none;
  border: 1px solid rgb(228, 228, 228);
  /* border: 1px solid black; */
}

#body > #middle > #middle-header {
  height: auto;
  width: 100%;
  padding: 0 10px;
  /* border: 1px solid black; */
}

#body > #middle > #middle-header > h2 {
  font-size: 20px;
}

#body > #middle > #middle-header > p {
  font-size: 12px;
  color: rgb(59, 59, 59);
}

#body > #middle > #middle-body {
  /* height: 350px; */
  /* border: 1px solid black; */
}

#body > #middle > #middle-body > #body-1 {
  height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 60px;
  /* border: 1px solid red; */
}

#body > #middle > #middle-body > #body-1 > img {
  height: 170px;
  width: 100%;
  object-fit: cover;
}

#body > #middle > #middle-body > #body-2 {
  height: 40%;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  /* border: 1px solid red; */
}

#body > #middle > #middle-body > #body-2 > h1 {
  font-size: 30px;
  text-align: center;
}

#body > #middle > #middle-body > #body-2 > p {
  font-size: 14px;
  text-align: left;
  text-align: center;
  color: rgb(46, 46, 46);
  /* border: 1px solid black; */
}

/* -----------------right-section----------------------------- */

#body > #right {
  height: 100%;
  width: 27%;
  margin-left: 300px;
}

#body > #right > #right-1 {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  /* margin: 5px 0 15px 0; */
  padding: 5px 0;
  background-color: white;
  /* border: 1px solid black; */
}

#body > #right > #right-1 > #search {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(239, 243, 244);
  /* border: 1px solid black; */
}

#body > #right > #right-1 > #search > i {
  margin: 0 5px 0 15px;
  color: rgb(73, 73, 73);
}

#body > #right > #right-1 > #search > input {
  height: 100%;
  width: 80%;
  margin: 0 10px;
  border: none;
  outline: none;
  background: none;
}

#body > #right > #right-1 > #search > input::placeholder {
  font-size: 15px;
  color: rgb(73, 73, 73);
}

#body > #right > #right-2 {
  height: 130px;
  display: flex;
  align-items: center;
  margin: 10px 0 15px 0;
  /* border: 1px solid black; */
}

#body > #right > #right-2 > #right-2-content {
  height: 100%;
  width: 90%;
  padding: 8px 18px;
  border-radius: 20px;
  /* border: 1px solid red; */
  background-color: rgb(239, 243, 244);
}

#body > #right > #right-2 > #right-2-content > h3 {
  font-size: 22px;
  padding-bottom: 5px;
}

#body > #right > #right-2 > #right-2-content > h5 {
  font-size: 14px;
  padding-bottom: 10px;
}

#body > #right > #right-2 > #right-2-content > #button {
  height: 32%;
  width: 40%;
  /* border: 1px solid black; */
}

#body > #right > #right-2 > #right-2-content > #button > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  background-color: black;
  color: white;
  /* border: 1px solid grey; */
}

#body > #right > #right-3 {
  height: auto;
  width: 100%;
  padding-bottom: 20px;
  /* margin: 5px 0 100px 0; */
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #right-3-content {
  height: 100%;
  width: 90%;
  background-color: rgb(239, 243, 244);
  border-radius: 20px;
  padding-bottom: 20px;
  /* border: 1px solid red; */
}

#body > #right > #right-3 > #right-3-content > #right-3-header {
  height: auto;
  width: 100%;
  padding: 12px 10px 0 15px;
  /* border: 1px solid green; */
}

#body > #right > #right-3 > #right-3-content > #right-3-header > h3 {
  font-size: 18px;
  font-weight: 600;
}

#body > #right > #right-3 > #right-3-content > .trends {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 0 15px;
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #right-3-content > .trends > .main-trend {
  height: 100%;
  width: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #right-3-content > .trends > .main-trend > span {
  font-size: 13px;
  color: rgb(96, 96, 96);
}

#body > #right > #right-3 > #right-3-content > .trends > .main-trend > h3 {
  font-size: 15px;
}

#body > #right > #right-3 > #right-3-content > .trends > .others {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #profile-recommend {
  height: auto;
  width: 90%;
  border-radius: 20px;
  padding: 8px 0px;
  margin: 15px 0;
  /* border: 1px solid red; */
  background-color: rgb(239, 243, 244);
}

#body > #right > #right-3 > #profile-recommend > #recommend-header {
  height: 50px;
  width: 100%;
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #profile-recommend > #recommend-header > h2 {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
}

#body > #right > #right-3 > #profile-recommend > #recommend-body {
  height: auto;
  width: 100%;
  /* border: 1px solid red; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  /* border: 1px solid black; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-img {
  height: 70%;
  width: 45px;
  /* border: 1px solid green; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-img
  > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-name {
  margin: 0 10px;
  line-height: 18px;
  /* border: 1px solid black; */
  /* padding: 0 0; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-name
  > h3 {
  font-size: 15px;
  /* border: 1px solid black; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-name
  > span {
  font-size: 14px;
  /* border: 1px solid black; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec-follow {
  height: 32px;
  width: 22%;
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec-follow
  > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  background-color: black;
  color: white;
  /* border: 1px solid black; */
}

/* ---------------------------Modal-------------------------------- */

#modal-screen {
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: relative;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);
  /* border: 2px solid blue; */
}

#modal-screen > #modal {
  height: 520px;
  width: 45%;
  margin: auto;
  margin-top: 55px;
  border-radius: 15px;
  padding: 8px 0;
  background-color: white;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-1 {
  height: 10%;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-2 {
  height: auto;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

#modal-screen > #modal > #sec-2 > span {
  padding: 10px 0;
}

#modal-screen > #modal > #sec-3 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px 0;
  /* border: 1px solid green; */
}

#modal-screen > #modal > #sec-3 > #sec-3-left,
#sec-3-right {
  height: 120px;
  width: 35%;
  margin: 0 10px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 0 10px;
  border: 1px solid rgb(214, 214, 214);
}

#modal-screen > #modal > #sec-3 > #sec-3-left {
  border: 2px solid rgb(29, 155, 240);
}

#modal-screen > #modal > #sec-3 > #sec-3-left > span {
  font-size: 13px;
}

#modal-screen > #modal > #sec-3 > #sec-3-left > h4 {
  font-size: 16px;
}

#modal-screen > #modal > #sec-3 > #sec-3-left > p {
  font-size: 13px;
}

#modal-screen > #modal > #sec-3 > #sec-3-right > span {
  font-size: 13px;
}

#modal-screen > #modal > #sec-3 > #sec-3-right > h4 {
  font-size: 16px;
}

#modal-screen > #modal > #sec-3 > #sec-3-right > p {
  font-size: 13px;
  line-height: 18px;
}

#modal-screen > #modal > #sec-4 {
  height: 11%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  /* border: 1px solid red; */
}

#modal-screen > #modal > #sec-4 > #button {
  height: 100%;
  width: 75%;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-4 > #button > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
  background-color: black;
  color: white;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-5 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-5 > span {
  font-size: 14px;
}

#modal-screen > #modal > #sec-5 > span > b {
  color: rgb(29, 155, 240);
  font-weight: 400;
}
