* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.hide {
  display: none;
}

#body {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* position: relative; */
  position: absolute;
  /* border: 1px solid black; */
}

#body > #left {
  height: 120vh;
  width: 22%;
  position: fixed;
  left: 0;
  overflow-y: scroll;
  /* border: 1px solid black; */
}

#body > #left > #left-contents {
  height: 100%;
  width: 78%;
  margin: auto;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > .left-content {
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  /* border: 1px solid red; */
}

#body > #left > #left-contents > .left-content > #logo {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > .left-content > #logo > i {
  color: rgb(29, 155, 240);
}

#body > #left > #left-contents > .left-content > .left-common {
  height: 100%;
  width: 92%;
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 25px;
  padding: 0px 20px;
  cursor: pointer;
  /* justify-content: space-between; */
  /* border: 1px solid blue; */
}

#body > #left > #left-contents > .left-content > .left-common:hover {
  background-color: rgb(233, 233, 233);
}

#body > #left > #left-contents > .left-content > .left-common > a {
  text-decoration: none;
  color: black;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > .left-content > .left-common > a > span {
  margin-left: 20px;
  font-size: 18px;
}

#body > #left > #left-contents > #left-button {
  height: 7%;
  width: 100%;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > #left-button > #button {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > #left-button > #button > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  border-radius: 28px;
  font-size: 17px;
  font-weight: 600;
  background-color: rgb(29, 155, 240);
  color: white;
  /* border: 1px solid grey; */
}

#body > #left > #left-contents > #profile {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

#body > #left > #left-contents > #profile > #profile-img,
#name,
#more {
  height: 100%;
  width: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

#body > #left > #left-contents > #profile > #profile-img {
  height: 70%;
  width: 20%;
  border-radius: 50%;
  color: white;
  background-color: rgb(2, 136, 209);
}

#body > #left > #left-contents > #profile > #profile-img > span {
  font-size: 22px;
  font-weight: 400;
}

#body > #left > #left-contents > #profile > #name {
  font-size: 13px;
  width: 65%;
  /* border: 1px solid black; */
}

/* ----------------------middle------------------------------------ */

#body > #middle {
  height: auto;
  width: 45%;
  position: relative;
  left: 22%;
  border: 1px solid rgb(228, 228, 228);
  border-top: none;
  border-bottom: none;
  /* border: 1px solid rgb(233, 233, 233); */
}

#body > #middle > #middle-header-1 {
  height: 55px;
  width: 45%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(233, 233, 233);
  /* background-color: white; */
}

#body > #middle > #middle-header-1 > h3 {
  margin: 0 25px;
}

#body > #middle > #middle-header-1 > .fa-arrow-left {
  margin: 0 10px;
}

#body > #middle > #middle-header-2 {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 55px;
  /* border: 1px solid black; */
}

#body > #middle > #middle-header-2 > h2 {
  font-size: 20px;
  margin: 0 10px;
}

#body > #middle > #middle-body {
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
}

#body > #middle > #middle-body > .suggest-profile {
  height: auto;
  width: 100%;
  /* margin: 12px 0; */
  padding: 15px 0;
  cursor: pointer;
  /* border: 1px solid red; */
}

#body > #middle > #middle-body > .suggest-profile:hover {
  background-color: rgb(241, 241, 241);
}

#body > #middle > #middle-body > .suggest-profile > .profile-header {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  /* border: 1px solid green; */
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-header
  > .profile-left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-header
  > .profile-left
  > .profile-img {
  height: 40px;
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid purple; */
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-header
  > .profile-left
  > .profile-img
  > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-header
  > .profile-left
  > .profile-name {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 22px;
  margin: 0 10px;
  /* border: 1px solid black; */
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-header
  > .profile-left
  > .profile-name
  > h4
  > .fa-circle-check {
  color: rgb(29, 155, 240);
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-header
  > .profile-left
  > .profile-name
  > h4 {
  font-size: 16px;
  font-weight: bold;
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-header
  > .profile-left
  > .profile-name
  > span {
  font-size: 15px;
  color: rgb(70, 70, 70);
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-header
  > .profile-follow {
  height: 32px;
  width: 14%;
  /* border: 1px solid green; */
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-header
  > .profile-follow
  > button {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  border: none;
  background: none;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: black;
  /* border: 1px solid black; */
}

#body > #middle > #middle-body > .suggest-profile > .profile-footer {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: right;
  /* align-items: center; */
  /* border: 1px solid blue; */
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-footer
  > .profile-desc {
  width: 90%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

#body
  > #middle
  > #middle-body
  > .suggest-profile
  > .profile-footer
  > .profile-desc
  > p {
  font-size: 14px;
  color: black;
}

/* -----------------right-section----------------------------- */

#body > #right {
  height: 100%;
  width: 27%;
  margin-left: 300px;
}

#body > #right > #right-1 {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  /* margin: 5px 0 15px 0; */
  padding: 5px 0;
  background-color: white;
  /* border: 1px solid black; */
}

#body > #right > #right-1 > #search {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(239, 243, 244);
  /* border: 1px solid black; */
}

#body > #right > #right-1 > #search > i {
  margin: 0 5px 0 15px;
  color: rgb(73, 73, 73);
}

#body > #right > #right-1 > #search > input {
  height: 100%;
  width: 80%;
  margin: 0 10px;
  border: none;
  outline: none;
  background: none;
}

#body > #right > #right-1 > #search > input::placeholder {
  font-size: 15px;
  color: rgb(73, 73, 73);
}

#body > #right > #right-2 {
  height: 130px;
  display: flex;
  align-items: center;
  margin: 10px 0 15px 0;
  /* border: 1px solid black; */
}

#body > #right > #right-2 > #right-2-content {
  height: 100%;
  width: 90%;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: rgb(239, 243, 244);
  /* border: 1px solid red; */
}

#body > #right > #right-2 > #right-2-content > h3 {
  font-size: 22px;
  padding-bottom: 5px;
}

#body > #right > #right-2 > #right-2-content > h5 {
  font-size: 14px;
  padding-bottom: 10px;
}

#body > #right > #right-2 > #right-2-content > #button {
  height: 32%;
  width: 40%;
  /* border: 1px solid black; */
}

#body > #right > #right-2 > #right-2-content > #button > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  background-color: black;
  color: white;
  /* border: 1px solid grey; */
}

#body > #right > #right-3 {
  height: auto;
  width: 100%;
  padding-bottom: 20px;
  /* margin: 5px 0 100px 0; */
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #right-3-content {
  height: 100%;
  width: 90%;
  background-color: rgb(239, 243, 244);
  border-radius: 20px;
  padding-bottom: 20px;
  /* border: 1px solid red; */
}

#body > #right > #right-3 > #right-3-content > #right-3-header {
  height: auto;
  width: 100%;
  padding: 12px 10px 0 15px;
  /* border: 1px solid green; */
}

#body > #right > #right-3 > #right-3-content > #right-3-header > h3 {
  font-size: 18px;
  font-weight: 600;
}

#body > #right > #right-3 > #right-3-content > .trends {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 0 15px;
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #right-3-content > .trends > .main-trend {
  height: 100%;
  width: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #right-3-content > .trends > .main-trend > span {
  font-size: 13px;
  color: rgb(96, 96, 96);
}

#body > #right > #right-3 > #right-3-content > .trends > .main-trend > h3 {
  font-size: 15px;
}

#body > #right > #right-3 > #right-3-content > .trends > .others {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #profile-recommend {
  height: auto;
  width: 90%;
  border-radius: 20px;
  padding: 8px 0px;
  margin: 15px 0;
  /* border: 1px solid red; */
  background-color: rgb(239, 243, 244);
}

#body > #right > #right-3 > #profile-recommend > #recommend-header {
  height: 50px;
  width: 100%;
  /* border: 1px solid black; */
}

#body > #right > #right-3 > #profile-recommend > #recommend-header > h2 {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
}

#body > #right > #right-3 > #profile-recommend > #recommend-body {
  height: auto;
  width: 100%;
  /* border: 1px solid red; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  /* border: 1px solid black; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-img {
  height: 70%;
  width: 45px;
  /* border: 1px solid green; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-img
  > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-name {
  margin: 0 10px;
  line-height: 18px;
  /* border: 1px solid black; */
  /* padding: 0 0; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-name
  > h3 {
  font-size: 15px;
  /* border: 1px solid black; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec
  > .rec-name
  > span {
  font-size: 14px;
  /* border: 1px solid black; */
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec-follow {
  height: 32px;
  width: 22%;
}

#body
  > #right
  > #right-3
  > #profile-recommend
  > #recommend-body
  > .rec-profile
  > .rec-follow
  > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  background-color: black;
  color: white;
  /* border: 1px solid black; */
}

/* ----------------------Modal----------------------- */

#modal-screen {
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: relative;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);
  /* border: 2px solid blue; */
}

#modal-screen > #modal {
  height: 520px;
  width: 45%;
  margin: auto;
  margin-top: 55px;
  border-radius: 15px;
  padding: 8px 0;
  background-color: white;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-1 {
  height: 10%;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-2 {
  height: auto;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

#modal-screen > #modal > #sec-2 > span {
  padding: 10px 0;
}

#modal-screen > #modal > #sec-3 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px 0;
  /* border: 1px solid green; */
}

#modal-screen > #modal > #sec-3 > #sec-3-left,
#sec-3-right {
  height: 120px;
  width: 35%;
  margin: 0 10px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 0 10px;
  border: 1px solid rgb(214, 214, 214);
}

#modal-screen > #modal > #sec-3 > #sec-3-left {
  border: 2px solid rgb(29, 155, 240);
}

#modal-screen > #modal > #sec-3 > #sec-3-left > span {
  font-size: 13px;
}

#modal-screen > #modal > #sec-3 > #sec-3-left > h4 {
  font-size: 16px;
}

#modal-screen > #modal > #sec-3 > #sec-3-left > p {
  font-size: 13px;
}

#modal-screen > #modal > #sec-3 > #sec-3-right > span {
  font-size: 13px;
}

#modal-screen > #modal > #sec-3 > #sec-3-right > h4 {
  font-size: 16px;
}

#modal-screen > #modal > #sec-3 > #sec-3-right > p {
  font-size: 13px;
  line-height: 18px;
}

#modal-screen > #modal > #sec-4 {
  height: 11%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  /* border: 1px solid red; */
}

#modal-screen > #modal > #sec-4 > #button {
  height: 100%;
  width: 75%;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-4 > #button > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
  background-color: black;
  color: white;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-5 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* border: 1px solid black; */
}

#modal-screen > #modal > #sec-5 > span {
  font-size: 14px;
}

#modal-screen > #modal > #sec-5 > span > b {
  color: rgb(29, 155, 240);
  font-weight: 400;
}


/* ----------------------Draft Modal-------------------------- */
#draft-screen {
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: relative;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);
  /* border: 2px solid black; */
}

#draft-screen > #draft-modal {
  height: 560px;
  width: 42%;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
  padding: 8px 0;
  background-color: white;
  /* border: 1px solid red; */
}

#draft-screen > #draft-modal > #draft-header-1 {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 18px;
  margin: 5px 0;
  /* border: 1px solid black; */
}

#draft-screen > #draft-modal > #draft-header-1 > h3 {
  margin-left: 35px;
  font-size: 20px;
}

#draft-screen > #draft-modal > #draft-header-2 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#draft-screen > #draft-modal > #draft-header-2 > .header-2 {
  height: 55px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  /* border: 1px solid rgb(43, 255, 0); */
}

#draft-screen > #draft-modal > #draft-header-2 > .header-2:hover {
  background-color: rgb(231, 231, 231);
}

#draft-screen > #draft-modal > #draft-body {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  /* border: 1px solid blue; */
}

#draft-screen > #draft-modal > #draft-body > #draft-img {
  height: 40%;
  width: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  /* border: 1px solid black; */
}

#draft-screen > #draft-modal > #draft-body > #draft-img > img {
  height: 100%;
  width: 100%;
}

#draft-screen > #draft-modal > #draft-body > #draft-text {
  height: 30%;
  width: 60%;
  /* border: 1px solid red; */
}

#draft-screen > #draft-modal > #draft-body > #draft-text > h1 {
  font-size: 28px;
}

#draft-screen > #draft-modal > #draft-body > #draft-text > p {
  font-size: 14px;
  color: rgb(66, 66, 66);
}

/* ----------------------------More-Modal----------------------- */
#more-modal {
  height: 43vh;
  width: 23%;
  top: 36%;
  left: 3%;
  z-index: 100;
  position: relative;
  position: fixed;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;
}

#more-modal > #more-header {
  height: 45%;
  width: 100%;
  border-bottom: 1px solid rgb(235, 235, 235);
  /* border: 1px solid black; */
}

#more-modal > #more-header > .headers {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* padding: 0 5px; */
  /* justify-content: center; */
  /* border: 1px solid black; */
}

#more-modal > #more-header > .headers > a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;
  text-decoration: none;
  color: black;
  /* border: 1px solid red; */
}

#more-modal > #more-header > .headers:hover {
  background-color: rgb(241, 241, 241);
}

#more-modal > #more-header > .headers > h3 {
  padding: 15px;
}

#more-modal > #more-footer {
  height: 55%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* border: 1px solid red; */
}

#more-modal > #more-footer > .footers {
  height: 33%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  cursor: pointer;
  /* border: 1px solid black; */
}

#more-modal > #more-footer > .footers:hover {
  background-color: rgb(241, 241, 241);
}

#more-modal > #more-footer > .footers > h4 {
  font-size: 15px;
}

